all_servers:
  # Simply list your servers with ip, username, and password
  # The script will automatically detect and use this file
  
  - ip: "a.b.c.d"
    username: "user"
    password: "pass"

  - ip: "a.b.c.d"
    username: "user"
    password: "pass"

  - ip: "a.b.c.d"
    username: "user"
    password: "pass"


  # Add more servers - only ip, username, and password required
  # - ip: "192.168.1.50"
  #   username: "admin"
  #   password: "your_password"

